{% assign certifications = site.data.data.certifications %}
{% if certifications %}
  <section class="section educations-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      {{ certifications.title }}
    </h2>

    {% for cert in certifications.info %}
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          {% if cert.link %}
          <a href="{{ cert.link }}" target="_blank">{{ cert.name }}</a>
          {% else %}
          <h3 class="degree">{{ cert.name }}</h3>
          {% endif %}

          <div class="time">{{ cert.time }}</div>
        </div><!--//upper-row-->

        <div class="university">{{ cert.issuer }}</div>
      </div><!--//meta-->

      {% if cert.details %}
      <div class="details">
        {{ cert.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
    {% endfor %}

  </section><!--//section-->

{% endif %}
